<h1>See all messages</h1>
</hr><hr/>
<% @messages.each do |message| %>
  <div class="message">
    <h3><a href="/messages/<%= message.id %>"><%= message.content %></a></h3>
    <p>
      <em>by <%= message.author %></em>
    </p>
  </div>
<% end %>
<hr/>
</hr>
<a href="/messages/new">Post a message... It's FREE (for now)!</a>
